.sidebar {
  width: 260px;
  background: #111827;
  color: white;
  padding: 24px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo h1 {
  font-size: 28px;
}

.logo p {
  margin-top: 6px;
  color: #9ca3af;
}

.menu {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-item {
  background: transparent;
  color: white;
  border: none;

  padding: 14px;
  border-radius: 12px;

  text-align: left;
}

.menu-item.active {
  background: #4f46e5;
}

.extension-box {
  background: #1f2937;
  padding: 20px;
  border-radius: 20px;
}

.download-btn {
  width: 100%;
  margin-top: 16px;

  padding: 12px;
  border: none;
  border-radius: 12px;

  background: #4f46e5;
  color: white;
}